@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&family=Niconne&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

h2 {
  text-align: center;
  transform: translateX(-15%);
}

body {
  background-color: #D9B764;
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #0A0A0A;
  border-bottom: #D9B764 5px solid;
  z-index: 5;
}
header nav {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}
header nav ul:nth-child(1) {
  gap: 10px;
}
header nav ul:nth-child(1) a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
  font-family: Niconne;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
header nav ul:nth-child(2) {
  gap: 30px;
}
header nav ul:nth-child(2) a {
  font-family: Inter;
  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  position: relative;
}
header nav ul:nth-child(2) a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #D9B764;
  position: absolute;
  bottom: -2px;
  left: 0;
}
header nav ul:nth-child(2) a:hover {
  opacity: 1;
}
header nav ul:nth-child(2) a:hover::after {
  width: 100%;
}
header nav ul:nth-child(3) a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Niconne;
  width: 171px;
  height: 49px;
  background-color: #D9B764;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #0A0A0A;
  border-radius: 6px;
  font-family: Niconne;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
header nav ul:nth-child(3) a:hover {
  opacity: 0.7;
}
header nav ul .bl {
  width: 5.31px;
  height: 5.31px;
  background: #D9B764;
  transform: rotate(45deg);
}

.cont {
  max-width: 1163.5px;
  margin: 0 auto;
  height: 100%;
}

main .head {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .head .box {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  height: 100%;
}
main .head .box h1 {
  margin-bottom: 100px;
  color: #FFF;
  font-family: Niconne;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 45px */
}
main .about {
  background-color: #0A0A0A;
  margin-top: 10px;
  padding-top: 80px;
}
main .about h2 {
  color: #D9B764;
  margin-bottom: 53px;
  font-family: Niconne;
  font-size: 88.975px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 80.078px */
}
main .about .box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
main .about .box1 .elem {
  min-height: 636px;
}
main .about .box1 .elem:nth-child(1) {
  position: relative;
  width: 70%;
}
main .about .box1 .elem:nth-child(1) img {
  width: 100%;
}
main .about .box1 .elem:nth-child(1) .block {
  position: absolute;
  padding: 40px 30px;
  width: 70%;
  bottom: 40px;
  right: -50%;
  border: 1px solid #D8B764;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 40px;
}
main .about .box1 .elem:nth-child(1) .block p {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: 0.14px;
}
main .about .box1 .elem:nth-child(1) .block hr {
  height: 1px;
  margin-top: 10px;
}
main .about .box1 .elem:nth-child(1) .block h3 {
  color: #FFF;
  font-family: Niconne;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 60px */
  letter-spacing: 0.4px;
}
main .about .box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
main .about .box2 .elem {
  min-height: 636px;
}
main .about .box2 .elem:nth-child(2) {
  position: relative;
  width: 70%;
}
main .about .box2 .elem:nth-child(2) img {
  width: 100%;
}
main .about .box2 .elem:nth-child(2) .block {
  position: absolute;
  padding: 40px 30px;
  width: 70%;
  bottom: 40px;
  right: 70%;
  border: 1px solid #D8B764;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 40px;
}
main .about .box2 .elem:nth-child(2) .block p {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 21px */
  letter-spacing: 0.14px;
}
main .about .box2 .elem:nth-child(2) .block hr {
  height: 1px;
  margin-top: 10px;
}
main .about .box2 .elem:nth-child(2) .block h3 {
  color: #FFF;
  font-family: Niconne;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 60px */
  letter-spacing: 0.4px;
}
main .about .stop {
  margin-bottom: 0;
}
main hr {
  opacity: 0.6;
}
main .fon3d {
  background-color: #0A0A0A;
  padding-top: 80px;
}
main .fon3d h2 {
  color: #D9B764;
  font-family: Playfair Display;
  font-size: 88.975px;
  font-style: italic;
  font-weight: 400;
  line-height: 90%;
  /* 80.078px */
  margin-bottom: 40px;
}
main .fon3d .box {
  width: 100%;
  height: 100vh;
  position: relative;
}
main .fon3d .box a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
main .fon3d .box iframe {
  width: 100%;
  height: 100%;
}
main .events {
  background-color: #0A0A0A;
  padding-top: 80px;
}
main .events h2 {
  color: #D9B764;
  font-family: Niconne;
  font-size: 88.975px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 80.078px */
}
main .events .box .block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .events .box .block:nth-child(2) {
  margin-top: 20px;
}
main .events .box .block .elem {
  padding: 20px;
  border-radius: 40px;
  border: 1px solid #D8B764;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .events .box .block .elem .img {
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  height: 142px;
  width: 98px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .events .box .block .elem .text h3 {
  color: #FFF;
  font-family: Niconne;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 38px */
}
main .events .box .block .elem .text p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  opacity: 0.3;
}
main .control {
  margin-top: 0;
}
main .gallery {
  padding-top: 100px;
  background-color: #0A0A0A;
  padding-bottom: 100px;
}
main .gallery h2 {
  color: #D9B764;
  font-family: Niconne;
  font-size: 88.975px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 50px;
  /* 80.078px */
}
main .gallery .swiper {
  width: 100%;
  height: 85vh;
}
main .gallery .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
main .gallery .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  padding: 50px;
}
main .gallery .swiper .swiper-wrapper .swiper-slide .block {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .gallery .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
main .gallery .swiper .swipBox {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
main .gallery .swiper .swipBox .custom {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  transform: translateY(-100%);
}
main .gallery .swiper .swipBox .custom .swiper-pagination {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
main .gallery .swiper .swipBox .custom .swiper-pagination span {
  background-color: #D9B764;
}
main .gallery .swiper .swipBox .custom .btns {
  width: 10px;
}
main .gallery .swiper .swipBox .custom .btns:after {
  transform: translateY(-35%) !important;
  font-size: 16px;
  position: static !important;
  color: #D8B764;
  position: relative !important;
  margin: 0;
}
main .gallery .swiper .myBlock {
  width: 30%;
  height: 95%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  border-radius: 40px;
  border: 1px solid #D8B764;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

footer {
  background-color: #0A0A0A;
  margin-top: 2px;
  background-image: url(../img/footer.png);
  background-position: start center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px;
}
footer .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex-direction: column;
  gap: 30px;
}
footer .box img {
  max-width: 80%;
}
footer .box a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
}
footer .box .contact a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
footer .myBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .myBlock .footerCont {
  height: 368px;
  width: 368px;
  background-color: #D9B764;
}
footer .myBlock .footerCont .map {
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 100px 60px;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5882352941);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .box {
  max-width: 477px;
  border-radius: 40px;
  border: 1px solid #D8B764;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 38px 0px rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  overflow-y: auto;
  max-height: 90%;
  padding: 30px;
}
.modal .box .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .box .text img {
  cursor: pointer;
}
.modal .box h3 {
  color: #D9B764;
  font-family: Niconne;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 34.2px */
}
.modal .box input {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  border: 1px solid #D9B764;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.modal .box textarea {
  min-width: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #D9B764;
  margin-top: 20px;
  min-height: 151px;
  max-height: 151px;
  background-color: transparent;
  outline: none;
  padding: 20px;
  color: #fff;
}
.modal .box button {
  width: 100%;
  padding: 15px 25px;
  border-radius: 6px;
  background: #D9B764;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 20px;
}

.modalActive {
  display: flex;
}

.mobaile {
  display: none;
}

.burgerModal {
  width: 100%;
  height: 100%;
  background-color: #D9B764;
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  display: none;
}
.burgerModal .box {
  width: 100%;
  padding: 10px;
}
.burgerModal .box hr {
  background-color: #000;
  opacity: 1;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.burgerModal .box .block:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.burgerModal .box .block:nth-child(1) img {
  width: 60px;
}
.burgerModal .box .block:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerModal .box .block:nth-child(2) .elem {
  width: 50%;
}
.burgerModal .box .block:nth-child(2) .elem img {
  width: 100%;
}
.burgerModal .box .block:nth-child(2) .elem:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
.burgerModal .box .block:nth-child(2) .elem:nth-child(2) a {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration-line: underline;
  opacity: 0.4;
}
.burgerModal .box .block:nth-child(2) .elem:nth-child(2) a:hover {
  opacity: 1;
}
.burgerModal .box .block:nth-child(4) h3 {
  color: #000;
  font-family: Niconne;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 20px;
  /* 45px */
}
.burgerModal .box .block:nth-child(4) a {
  color: #000;
  display: block;
  width: 100%;
  font-feature-settings: "case" on;
  font-family: Niconne;
  font-size: 40.846px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
  /* 42.276px */
  margin-bottom: 20px;
  text-decoration: none;
}
.burgerModal .box .block:nth-child(4) button {
  border-radius: 6px;
  background: #000;
  padding: 15px 25px;
  width: 100%;
  color: #D9B764;
  font-family: Niconne;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.burgerModalActive {
  display: block;
}

@media (max-width: 1024px) {
  main .about .box1 .elem:nth-child(1) .block {
    right: -35%;
  }
}
@media (max-width: 768px) {
  main .events h2 {
    margin-bottom: 20px;
  }
  main .events .box .block {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  main .gallery .swiper {
    height: auto;
  }
  main .gallery .swiper .myBlock {
    height: 85%;
  }
  .comp {
    display: none;
  }
  header .mobaile {
    display: flex;
  }
  header .mobaile ul li {
    opacity: 1;
  }
  header .mobaile ul li a {
    opacity: 1;
  }
  header .mobaile ul li a img {
    width: 40px !important;
  }
  footer .myBlock {
    flex-wrap: wrap;
    gap: 20px;
  }
  footer .myBlock .footerCont {
    width: 100%;
    background-color: #0A0A0A;
  }
  footer .myBlock .box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  h2 {
    text-align: right;
    transform: translateX(-10px);
    font-size: 45px !important;
  }
  main .about .box1 {
    flex-wrap: wrap;
    position: relative;
  }
  main .about .box1 .elem:nth-child(1) {
    width: 100%;
    height: 80vh;
    margin-top: 150px;
  }
  main .about .box1 .elem:nth-child(1) img {
    height: 100%;
  }
  main .about .box1 .elem:nth-child(1) .block {
    right: 50%;
    bottom: -20%;
    transform: translateX(50%);
  }
  main .about .box1 .elem:nth-child(2) {
    position: absolute;
    left: 10px;
    top: 10%;
    z-index: 2;
  }
  main .about h2 {
    margin-bottom: 0 !important;
  }
  main .events h2 {
    margin-top: 100px;
  }
  main .about .box2 {
    flex-wrap: wrap;
    position: relative;
  }
  main .about .box2 .elem:nth-child(2) {
    width: 100%;
    height: 80vh;
    margin-top: 150px;
  }
  main .about .box2 .elem:nth-child(2) img {
    height: 100%;
  }
  main .about .box2 .elem:nth-child(2) .block {
    right: 50%;
    bottom: -20%;
    transform: translateX(50%);
  }
  main .about .box2 .elem:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 10%;
    z-index: 2;
  }
}
@media (max-width: 425px) {
  main .about .box1 .elem:nth-child(1) .block {
    width: 90%;
  }
  main .about .box2 .elem:nth-child(2) .block {
    width: 90%;
  }
  main .about .box2 .elem:nth-child(1) img {
    width: 180px;
  }
  main .about .box1 .elem:nth-child(2) img {
    width: 180px;
  }
  main .gallery .swiper {
    padding: 0;
    height: 50vh;
  }
  main .gallery .swiper .myBlock {
    display: none;
  }
  main .gallery .swiper .swiper-wrapper {
    padding: 0;
  }
  main .gallery .swiper .swiper-wrapper .swiper-slide {
    padding-left: 0;
    padding-right: 0;
  }
  main .gallery h2 {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  footer .myBlock .footerCont .map {
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */